@media screen and (max-width: 1005px) {
  /* retirar fixação de navebar */
  .navbar {
    position: relative;
  }

  /* retirar menu e centralizar logo */
  .menu {
    display: none;
  }

  .logo {
    flex: 0;
    margin-left: 0;
  }
  .header {
    padding-top: 50px;
    flex-wrap: wrap;
  }

  .headline {
    flex: 100%;
    text-align: center;
    margin: 5%;
    /* border: 1px solid tomato; */
    
    
  }

  .headline p {
    text-align: justify;
    margin-left: 80px;
    margin-right: 80px;
    
    
  }

  .img-headline {
    flex: 100%;
    margin: 5%;
    text-align: center;
  }

  .whats {
    display: none;
  }

  .card {
    width: 100%;
  }

  .servicos {
    flex-wrap: wrap;
  }
}
